<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <title>{{ titulo }}</title>
</head>
<body>
    <main>
        <section id="chat">
            <!--Entrada das mensagens no chat-->
        </section>

        <section class="container w-50 mx-auto">
            <div class="row align-items-center">
                <div class="col">
                    <input type="text" name="mensagem" id="mensagem" class="form-control" required>
                </div>
                <div class="col">
                    <button id="enviar" type="button" class="btn btn-primary"></button>
                </div>
            </div>
        </section>
    </main>

    <script>
        
    </script>
</body>
</html>