<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
</head>
<body>
    <main>
        <section class="row container w-50 mx-auto">
            <form action="{{ url_for('views.auth_login') }}" method="post">
                <input type="hidden" name="proxima" value="{{ proxima or url_for('views.chat') }}">
                <div class="form-group row">
                    <input type="text" name="username" id="username" placeholder="Insira um nome de usuário" class="form-control" required>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Ir para o Chat</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>